

.link {
  border-radius: 4px;
  display: block;
  width: 100%;
  outline: 1px solid var(--ifm-color-primary);
  -webkit-text-decoration: dotted !important;
  text-decoration: underline;
  color: var(--ifm-color-primary);
  font-weight: bold;
  text-align: left;
  /* line-height: 1.2; */
  padding: 0.5rem;
  /* padding-top: 0.85rem; */
  background-color: var(--ifm-breadcrumb-item-background-active);
}
